{% load staticfiles %}
<a class="default-text-color" href="/">
    <div class="jumbotron">
        <h1><i class="fa fa-heartbeat"></i> not immune at all</h1>
    </div>
</a>

<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img class="img-responsive" alt="niaa" src="{% static 'sublog/niaa.png' %}">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% include 'partials/toc_entry.html' with name='index' label='Home' %}
                    {% include 'partials/toc_entry.html' with name='new-article' label='New Article' %}
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
