<div class="previewable">
    <div class="btn-group preview-button-bar" role="group">
        <div id="write-button" class="grey-btn btn btn-default">Write</div>
        <div id="preview-button" class="grey-btn btn btn-default active-btn">Preview</div>
        {% if store_draft %}
        <div id="draft-store-icon" class=""></div>
        {% endif %}
    </div>

    <div class="area-spacer">
        <textarea id="write-area" class="write-area new-{{ type }}-content form-control"
                  placeholder="your {{ type }}..." name="content">{{ content }}</textarea>

        <div id="preview-area" class="hidden preview-area"></div>
    </div>
</div>
{% load staticfiles %}
<script src="{% static 'js.cookie-2.0.3.min.js' %}"></script>
<script src="{% static 'preview.js' %}"></script>

{% if store_draft %}
<div id="draft-save-timer" class="hidden"></div>
<script src="{% static 'timer.jquery.min.js' %}"></script>
<script src="{% static 'draft.js' %}"></script>
{% endif %}