{% extends "sublog_base.html" %}

{% block title %}new article{% endblock %}

{% block content %}

<form action="{% url 'new_article' %}" class="form-horizontal" method="POST">
    {% csrf_token %}

    <div class="form-group">
        <h3 class="col-sm-9">Create new article:</h3>

        <div class="col-sm-3">
            <button type="submit" class="post-article-btn btn btn-default">Post article</button>
        </div>
    </div>

    {% if error_message %}
    <div class="form-group">
        <div class="alert alert-danger col-sm-12" role="alert">{{ error_message }}</div>
    </div>
    {% endif %}

    <div class="form-group">
        <label for="title" class="col-sm-1 control-label">Title </label>

        <div class="col-sm-11">
            <input id="title" class="form-control" placeholder="your title"
                   value="{{ form_data.title }}" name="title" type="text" maxlength="500"/>
        </div>
    </div>

    <div class="form-group">
        <div id="content" class="col-sm-12">
            {% include 'partials/preview_form_group.html' with content=form_data.content type='article' store_draft=True %}
        </div>
    </div>
</form>
{% endblock %}
