<!DOCTYPE html>
<html>
<head>
    <title>suBlog - {% block title %}{% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'sublog.css' %}"/>
    <link rel="shortcut icon" href="/static/favicon.ico" />
</head>

<body>
<header>
    <h1><img class="logo" src="{% static 'sublog.png' %}"> Thoughts on anything</h1>
</header>

<div class="toc">
    <span><a href="{% url 'index' %}">
        Home </a></span>
    <span><a href="{% url 'new-article' %}">
          New Article </a></span>
    <span><a href="/contact">
        Contact </a></span>
</div>

<div id="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
