<!DOCTYPE html>
<html>
<head>
    <title>suBlog - {% block title %}{% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'sublog.css' %}"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<header>
    <h1><i class="fa fa-heartbeat fa-lg"></i> not immune at all</h1>
</header>

<div class="toc">
    {% include 'toc_entry.html' with name='index' label='Home' %}
    {% include 'toc_entry.html' with name='new-article' label='New Article' %}
    <span><a href="/contact">
        Contact </a></span>
</div>

<div id="container">
    {% block content %}{% endblock %}
</div>
<div class="footer">
    {% include "footer.html" %}
</div>
</body>
</html>
