html {
  width: 80%;
  margin: 0 auto;
}

@media ( max-width : 600px) {
  html {
    width: 100%;
  }
}

body {
  color: #335555 !important;
}

a:hover {
  text-decoration: none !important;
}

div.jumbotron {
  text-align: center;
  background: rgba(255, 190, 39, .7);
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 0px;
}

nav.navbar {
  border-top: none;
}
a.navbar-brand {
  padding: 0px;
}

.navbar-brand img {
  max-height: 100%;
}
