html {
  width: 70%;
  margin: 0 auto;
}

@media ( max-width : 600px) {
  html {
    width: 100%;
  }

  div.mobile-spacer {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.default-text-color {
  color: #335555;
}

a:hover {
  text-decoration: none !important;
}

div.jumbotron {
  text-align: center;
  background: rgba(255, 190, 39, .7);
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 0px;
}

nav.navbar {
  border-top: none;
  margin-bottom: 0;
}

a.navbar-brand {
  padding: 0px;
}

.navbar-brand img {
  max-height: 100%;
}

div.footer-row {
  margin: 20px 0;
}

div.footer-text {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 10px;
  font-style: italic;
}

div.sublogo {
  padding-left: 0px;
  text-align: right;
}

img.sublogo {
  height: 40px;
}

div.panel-body {
  text-align: justify;
  word-wrap: break-word;
}

div.form-group {
  margin-bottom: 7px;
}

.panel-body code {
  color: black;
  background-color: #c0d0d0;
  border-radius: 4px;
  font-size: 90%;
  padding: 4px 8px;
}

div.article-panel {
  margin-top: 15px;
  margin-bottom: 0;
}

button.post-article-btn {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f4f4f4;
}
