html {
  width: 80%;
  margin: 0 auto;
}

div.mobile-spacer {
  margin-bottom: 10px;
}

@media ( max-width : 600px) {
  html {
    width: 100%;
  }

  div.mobile-spacer {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.default-text-color {
  color: #335555;
}

a:hover {
  text-decoration: none !important;
}

div.jumbotron {
  text-align: center;
  background: rgba(255, 190, 39, .7);
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 0px;
}

nav.navbar {
  border-top: none;
}

a.navbar-brand {
  padding: 0px;
}

.navbar-brand img {
  max-height: 100%;
}

div.footer-row {
  text-align: right;
}

.footer-row img {
  vertical-align: bottom;
  height: 40px;
}

div.panel-body {
  text-align: justify;
  word-wrap: break-word;
}

.panel-body code {
  color: black;
  background-color: #c0d0d0;
  border-radius: 4px;
  font-size: 90%;
  padding: 4px 8px;
}
